*{
    background-color: rgb(7, 45, 7);
    font-family: Arial, Helvetica, sans-serif;
}
h1, p {
    color: antiquewhite;
    max-width: 1000px;
    margin: 0 auto;
}
p {
    color: antiquewhite;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}
.nav1 {
    max-width: 1000px;
    width: 130px;
    height: 45px;
    margin-top: 70px;
    background-color: #2503FD;
    color: antiquewhite;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: calc(50% - 500px);
}
.nav1:hover {
    background-color: green;
}

.navBar-Container{
    background-color: rgb(2, 21, 2);
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 30px;
    border-radius: 70px;
    width: 600px;
    height: 70px;
    margin-bottom: 170px;
    top: 6%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.navBar-Container a {
    background-color: rgb(2, 21, 2);
    color: antiquewhite;
    text-decoration: none; 
    font-size: 18px; 
    line-height: 70px; 
    text-align: center;
}
a:hover {
    color: blue;
}

.image {
    border-radius: 25px;
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}
figcaption {
    color: antiquewhite;
    max-width: 490px;
    margin-top: 80px;
    margin: 0 auto;
    display: block;
}